body{
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	 background-color: #010101;
}

.left{
	float:left;
	margin-left: 5%;
}
.right{
	float:right;
	margin-right: 5%;
}
.arrow{
	width:50px;
	height:50px;
	margin-top:23%;
}
.arrow:hover{
	cursor:pointer;
}
.text{
	background-color: rgba(255,255,255, 0.5);
	color:#111;
	padding: 0.5em;
	border: 0.7em solid rgba(255,255,255, 0);
	position: fixed;
	bottom: 3em;
	line-height: 130%;
	font-family: 'Open Sans', serif;
	font-size:18px;
	width: 40%;
	left: 50%;
	margin-left:-20%;
	height: 9em;
	overflow: scroll;
}
#inter{
	display:none;
}
.interview{
	width:27.33%;
	height:38%;
	background-color: rgba(255,255,255, 0.5);
	color:#111;
	line-height: 130%;
	font-family: 'Open Sans', serif;
	font-size:18px;
	position:fixed;
	overflow:scroll;
	padding: 1.5%;
	bottom:0;
}

#jessica{
	margin-left:0.75%;
}
#anon{
	margin-left:34.08%;
}
#fran{
	margin-left:67.41%;
}